body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.auth-parent {
  background: black;
  width: 100vw;
  height: 100vh;
  padding-top: 7.5vh;
  font-family: 'CasaleFinale NBP', sans-serif;
  letter-spacing: 1px;
}

.parent {
  /* background: url("img/background.gif");
  background-size: contain; */
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-top: 7.5vh;
  font-family: 'CasaleFinale NBP', sans-serif;
  letter-spacing: 1px;
}

.mobile {
  background: #fff url("img/background3.png") 0 0 repeat;
  width: 100vw;
  height: 100vh;
  font-family: 'CasaleFinale NBP', sans-serif;
  display: flex;
  justify-content: center;
}

.mobileheader {
  color: white;
  font-size: 1.25em;
  margin-top: 35vh;
  margin-left: 8vw;
  margin-right: 8vw;
  width: 84vw;
}

.entry {
  background: #fff url("img/background.png") 0 0 repeat;
  margin-left: 13.5vw;
  width: 73vw;
  border-radius: 10px;
  border: 2.5px solid grey;
  animation: flicker 1.5s linear reverse infinite
}

.panel {
  background: #fff url("img/background3.png") 0 0 repeat;
  margin-left: 13.5vw;
  width: 73vw;
  height: 80vh;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  border: 2.5px solid grey;
}

.paneltext {
  color: rgb(175,255,175);
  margin: 10px;
  font-size: 0.8em;
}

.header {
  margin-right: 15px;
  cursor: default;
}

.bar {
  background: #fff url("img/background2.png") 0 0 repeat;
  width: 100%;
  height: 30px;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  align-self: center;
}

.logodiv {
  height: 80%;
  align-self: center;
  margin-left: 0.7%;
  display: flex;
}

.link {
  margin-left: 20px;
  font-size: 0.9em;
}

.link:hover {
  background-color: black;
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.date {
  margin-right: 15px;
  cursor: default;
}

.time {
  margin-right: 7px;
  cursor: default;
}

.about {
  position: absolute;
  top: 100px;
  left: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
}

.projects {
  position: absolute;
  top: 200px;
  left: 100px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
  color: black;
}

.experience {
  position: absolute;
  top: 350px;
  left: 60px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
}

.music {
  position: absolute;
  top: 240px;
  left: 300px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
}

.resume {
  position: absolute;
  top: 480px;
  left: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
}

.text {
  height: 52px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.folder {
  height: 40px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.name {
  margin-top: 5px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  background: #fff url("img/background2.png") 0 0 repeat;
  padding-left: 6px;
  padding-right: 6px;
}

.text-div {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  border: 1px solid black;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.aboutwindow {
  position: absolute;
  top: 50px;
  left: 200px;
  background: #fff url("img/background2.png") 0 0 repeat;
  border: 1px solid black;
  font-family: 'CasaleFinale NBP', sans-serif;
  width: 60%;
  height: 450px;
  resize: both;
  overflow: auto;
  overflow-y: auto;
  min-width: 480px;
}

.musicwindow {
  position: absolute;
  top: 50px;
  left: 200px;
  background: #fff url("img/background2.png") 0 0 repeat;
  border: 1px solid black;
  font-family: 'CasaleFinale NBP', sans-serif;
  width: 60%;
  height: 450px;
  resize: both;
  overflow: auto;
  overflow-y: auto;
  min-width: 480px;
}

.projectswindow {
  position: absolute;
  top: 90px;
  left: 240px;
  background: #fff url("img/background2.png") 0 0 repeat;
  border: 1px solid black;
  font-family: 'CasaleFinale NBP', sans-serif;
  width: 60%;
  height: 450px;
  resize: both;
  overflow: auto;
  overflow-y: auto;
  min-width: 480px;
}

.experiencewindow {
  position: absolute;
  top: 20px;
  left: 260px;
  background: #fff url("img/background2.png") 0 0 repeat;
  border: 1px solid black;
  font-family: 'CasaleFinale NBP', sans-serif;
  width: 60%;
  height: 480px;
  resize: both;
  overflow: auto;
  overflow-y: auto;
  min-width: 480px;
}

.projectwindow {
  position: absolute;
  top: 100px;
  left: 340px;
  background: #fff url("img/background2.png") 0 0 repeat;
  border: 1px solid black;
  font-family: 'CasaleFinale NBP', sans-serif;
  width: 60%;
  height: 480px;
  resize: both;
  overflow: auto;
  overflow-y: auto;
  min-width: 480px;
}

.windowbar {
  width: 100%;
  height: 34px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  background-color: rgba(0,0,0,0.15);
  cursor: grab;
}

.x {
  height: 16px;
  margin-top: 2px;
  margin-left: -3px;
}

.x-button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  margin-top: -4px;
}

button {
  outline: none;
  border: none; 
  background-color: transparent; 
  box-shadow: none; 
  transform: none;
}

button:active {
  outline: none;
  border: none; 
  background-color: transparent; 
  box-shadow: none; 
  transform: none;
}

.about-title {
  align-self: center;
  padding-right: 20px;
}

.abouttext {
  padding: 10px;
}

.abouttexttitle {
  margin-bottom: 10px;
}

.abouttextnontyping {
  margin-right: 6px;
}

.abouttextbody {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.abouttextbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mephoto {
  width: 180px;
  height: 240px;
}

.projects-files {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  min-width: 400px;
}

.projectname {
  margin-top: 5px;
  font-size: 1em;
  color: black;
}

.project-text {
  height: 52px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.project-file {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  font-family: 'CasaleFinale NBP', sans-serif;
  border: 0px;
  cursor: pointer;
}

.experience-text {
  margin: 20px;
}

.experience-header {
  font-size: 1.12em;
  margin-bottom: 10px;
}

.experience-details {
  font-size: 0.75em;
  margin-bottom: 20px;
}

.experience-name {
  font-weight: bold;
}

.project-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.experience-hash {
  margin-bottom: 5.5px;
}

.projectbody {
  font-size: 0.85em;
  margin: 20px;
  margin-bottom: 0px;
}

.projectlinks {
  display: flex;
  justify-content: center;
}

.project-button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: 20px;
  margin-top: 17px;
}

.project-button {
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: 2px solid blackxw;
  font-family: 'CasaleFinale NBP', sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: 20px
}

.project-button:hover {
  background-color: black;
  color: rgb(218,218,218);
  cursor: pointer;
}

.musiclinks {
  display: flex;
  justify-content: left;
}

.music-button {
  height: 40px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 0px;
  font-family: 'CasaleFinale NBP', sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin-right: 10px;
  margin-top: 10px;
}

.music-button:hover {
  background-color: black;
  color: rgb(218,218,218);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0px;
}

.webwrapper {
  margin-top: 25px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
}

.web {
  width: 100px;
  border-radius: 30px;
}

.web2 {
  width: 100px;
  border-radius: 10px;
}

.logo-image {
  width: 45px;
  margin-right: 5px;
}

.logo-image2 {
  width: 50px;
  margin-bottom: -5px;
}

.logo-image3 {
  width: 30px;
  margin-bottom: -5px;
  margin-right: 3px;
}

.techire-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.music-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.music-image {
  width: 340px;
  height: 340px;
  margin-right: 20px;
}

.music-text {
  width: 280px;
  font-size: 0.8em;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.95;
  }
	10% {
		opacity: 1;
  }
  15% {
    opacity: 0.95;
  }
	20% {
		opacity: 1;
  }
  25% {
		opacity: 0.98;
	}
	30% {
		opacity: 1;
  }
  35% {
		opacity: 0.97;
	}
	40% {
		opacity: 1;
  }
  45% {
		opacity: 0.97;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 0.95;
  }
  60% {
		opacity: 1;
  }
  65% {
		opacity: 0.98;
  }
	70% {
		opacity: 0.96;
  }
  75% {
		opacity: 1;
  }
	80% {
		opacity: 1;
  }
  85% {
		opacity: 0.95;
  }
	90% {
		opacity: 1;
  }
  95% {
		opacity: 0.95;
  }
	100% {
		opacity: 1;
	}
}
